/* Survey page styles */

.photo{
  width: 60%;
  padding: 10px;
}

form {
  margin: 0 auto;
  text-align: left;
  display: inline-block;
}

fieldset {
  border: none;
  text-align: left;
  display: block;
}
legend {
  display: none;
}

.container{
  text-align: center;
}
.newsletter{
  text-align: right;
}

.formgroup {
  display: block;
  margin-bottom: 15px;
}
label[for="song"],
label[for="albums"] {
    margin: 20px 0 15px;
    display: inline-block;
}

input[type="radio"] {
    margin: 0 10px;
}

input[type="radio"]:nth-of-type(1) {
    margin-right: 10px;
    margin-left: 0;
}
/* Text Area */
textarea {
    border: 3px solid transparent;
    height: 5em;
}
input[type=text],
input[type=email],
textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 3px;
  border: 1px solid #DDDDDD;
  width: 100%;
}

input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}
/*Submit Button */
button {
  width: 40%;
  height: 3em;
  border-radius: 2px;
  background-color: yellow;
  margin: 5px 1px 3px 0px;
}

button:hover {
  background-color: #FFFFF0;
}

button:active {
  background-color: yellow;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* Styles for larger screens */
@media screen and (min-width: 840px) {
  .photo{
    width: 40%;
  }
}
